.header {
   padding: 97px 0px 20px 0px;

   @media (max-width: 1400px) {
      padding: 84px 0px 30px 0px;
   }

   @media (max-width: $md3 +px) {
      padding: 20px 0px 20px 0px;
   }
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 68px;

   @media (max-width: $md2 +px) {
      padding: 0px 0px 0px 0px;
      justify-content: space-evenly
   }
}

.header__logo {
   display: flex;
   align-items: center;
   margin: 0px 0px 0px 20px;
   transition: all 0.3s ease;
   cursor: pointer;

   &:hover {
      transform: rotate3d(1, 2.0, 3.0, 10deg);
   }

   @media (max-width: $md2 +px) {
      order: 1;
      flex: 0 1 30%;
   }
}

.vv {
   @media (max-width: $md2 +px) {
      order: 2;
   }

   @media (max-width: $md3 +px) {
      display: none;
   }
}

._logo {
   margin-right: 14px;
   transition: all 0.3s ease;
}

.header__nav {
   display: flex;
}

._nav {
   margin: 0px 0px 0px 86px;
   padding: 0px 0px 0px 0px;

   @media (max-width: $md1 +px) {
      margin: 0px 0px 0px 0px;
   }

   @media (max-width: $md2 +px) {
      display: none;
   }
}

._nav__item {
   margin-right: 86px;

   @media (max-width: 1400px) {
      margin: 0px 55px 0px 0px;
   }

   &:last-child {
      margin-right: 0px;
   }
}

._nav__link {
   font-size: calc(16px + 9 * (100vw /1920));
   line-height: 38px;
   position: relative;
   transition: all 0.3s ease;

   &::after {
      display: block;
      text-align: center;
      content: "";
      position: absolute;
      height: 6px;
      width: 0;

      background-color: #FEC62D;
      right: 50%;
      left: 50%;
      transform: translateX(-50%);
      transition: width 0.3s ease-out;
   }

   &:hover {
      font-weight: 700;
      color: #58A9A5;

      &::after {
         width: 100%;
      }
   }

   &:active {
      color: #FEC62D;
   }
}

.button {
   box-sizing: inherit;
   padding: 21px 89px;
   font-size: #{$fontSize + 9px};
   font-weight: 500;
   line-height: 37.5px;
   color: $whiteColor;
   background-color: $buttonColor;
   border-radius: 15px;
   transition: all 0.3 ease;

   &:hover {
      background-color: #357c79
   }

   &:active {
      color: #357c79;
      background-color: #FEC62D;
   }



   @media (max-width: $md2 +px) {
      display: inline-block;
      text-align: center;
      margin: 0 auto;
   }
}

._button__header {
   @media (max-width: $md2 +px) {
      display: block;
      margin: 0px;
   }
}

//Burger

.mobile div {
   display: block;
   position: relative;
   background-color: #58A9A5;
   ;
   height: 60px;
   width: 60px;
   border-radius: 50%;
   z-index: 9999999;
   border: 4px solid #58A9A5;
   ;
   box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
   cursor: pointer;
   box-sizing: content-box;
}

.mobile div span {
   display: block;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 40px;
   height: 4px;
   background-color: #fff;
   border-radius: 13px;
   transition-duration: .4s;
}

.mobile div span:nth-child(1) {
   top: 17px;
}

.mobile div span:nth-child(2) {
   top: 29px;
}

.mobile div span:nth-child(3) {
   bottom: 13px;
}

.mobile div.active span:nth-child(1) {
   transform: translate(-15px, 13px) rotate(-45deg);
   left: 45%;

}

.mobile div.active span:nth-child(2) {
   transition-duration: 0s;
   opacity: 0;
}

.mobile div.active span:nth-child(3) {
   transform: translate(-15px, -13px) rotate(45deg);
   left: 45%;
}

.ggg {
   position: relative;
   // left: 90px;
}

.mobile nav {
   padding: 134px 80px 80px 80px;
   position: absolute;
   bottom: 16px;
   right: 16px;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   z-index: 9999990;
   transition-duration: .4s;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: left;
   overflow: hidden;

   @media (max-width: $md2 +px) {
      padding: 134px 60px 80px 60px;
   }
}

.mobile nav.open {
   background-color: #0b5257;
   width: 100vw;
   height: 100vh;
   right: 0px;
   bottom: 0px;
   border-radius: 0;
}

.mobile nav ul {
   display: none;
}

.mobile nav ul.show {
   display: flex;
   flex-direction: column;
   list-style: none;
   margin: 80px 0px 0px 0px;
   padding: 0;
}

.mobile ul li {
   background-color: transparent;
   width: 100%;
   text-align: left;
   opacity: 0;
   animation-name: fadein;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

.mobile ul li:not(:last-child) {
   margin-bottom: 22px;
}

.mobile ul li a {
   display: flex;
   margin: 0px 0px 20px 0px;
   font-size: 24px;
   font-family: 'Roboto Condensed', sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   text-decoration: none;
   color: #fff;
}


@keyframes fadein {
   0% {
      opacity: 0;

   }

   100% {
      opacity: 1;
   }
}

@media (min-width:1201px) {
   .mobile {
      display: none;
   }
}

//Burger



.element-show {
   transition: all 1s ease;
   opacity: 1;
}