.intro {
   padding: 0px 0px 122px 0px;

   @media (max-width: ($md2 +px)) {
      padding: 0px 0px 40px 0px;
   }
}

.intro__container {
   display: flex;
   padding: 0px 35px;

   @media (max-width: ($md2 +px)) {
      flex-direction: column;
      background: #CCF0E6;
   }

   @media (max-width: ($md4 +px)) {
      padding: 0px 20px;
   }
}

.intro__info {
   margin-left: 58px;
   display: flex;
   flex-direction: column;

   @media (max-width: 1200px) {
      margin-left: 0;
   }
}

._info__title {
   padding: 148px 0px 50px 0px;
   display: inline-block;
   width: 89%;

   @media (max-width: 1440px) {
      margin: 0px 0px 0px 0px;
      padding: 80px 0px 50px 0px;
   }

   @media (max-width: ($md2 +px)) {
      padding: 80px 0px 0px 0px;
      text-align: center;
      width: 100%;
   }
}

.title {
   font-weight: 800;
   @include adaptive-font (70, 24);
   line-height: calc(105 / 70);
   color: #1C2323;
   transform: translateY(-50px);
   opacity: 0;
}

._info__descr {
   padding: 0px 0px 69px 0px;
   display: inline-block;
   width: 90%;
   @extend %descr;

   @media (max-width: ($md2 +px)) {
      text-align: center;
      width: 100%;
   }
}

._info__btn {
   @media (max-width: ($md2 +px)) {
      text-align: center;
   }
}

.intro__picture {
   text-align: center;
}

.element-show {
   transition: all 1s ease-out;
   opacity: 1;
}