.project {
   padding: 0px 0px 215px 0px;

   @media (max-width: 1500px) {
      padding: 0px 0px 100px 0px;
   }

   @media (max-width: $md2 +px) {
      padding: 0px 0px 50px 0px;
   }

}

.project__container {
   padding-left: 31px;
   padding-right: 22px;
}

.project__info {
   text-align: center;
}

.project__title {
   padding: 0px 0px 20px 0px;

   @media (max-width: $md2 +px) {
      padding: 30px 0px 0px 0px;
   }
}

.project__descr {
   padding: 0px 0px 160px 0px;
   position: relative;
   display: block;
   margin: 0 auto;
   width: 50%;
   @extend %descr;


   @media (max-width: $md2 +px) {
      text-align: center;
      margin: 0%;
      width: 100%;
      padding: 0px 0px 50px 0px;
   }

   &::before,
   &::after {
      margin: 0px 0px 15px 0px;
      content: "";
      position: absolute;
      width: 136px;
      height: 5px;
      background-color: #58A9A5;
      left: 43%;
      right: 43%;

      @media (max-width: $md2 +px) {
         display: none;
      }
   }

   &::before {
      top: 93px;
   }

   &::after {
      top: 109px;
   }
}

.project__projects {
   display: flex;

   @media (max-width: $md2 +px) {
      flex-direction: column;
   }
}

._projects__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px 10px;
   text-align: center;

   @media (max-width: $md2 +px) {
      margin: 0px 0px 30px 0px;
   }

   a {
      width: 83%;
      display: block;
      margin: 0 auto;
      padding: 0px 00px 5px 0px;
      @include adaptive-font (40, 16);
      font-weight: 700;
      line-height: calc(60 / 40);
      color: #58A9A5;
      text-align: left;
      position: relative;

      &:hover {
         font-weight: 700;
         color: #357c79;
      }

      @media (max-width: $md2 +px) {
         text-align: center;
         margin: 0%;
         width: 100%;
      }
   }

   p {
      width: 82%;
      display: block;
      margin: 0 auto;
      padding: 0px 0px 35px 0px;
      @include adaptive-font (20, 16);
      font-weight: 500;
      line-height: calc(30 / 20);
      text-align: left;

      @media (max-width: $md2 +px) {
         text-align: center;
         margin: 0%;
         width: 100%;
      }
   }
}

.fro {
   @media (max-width: $md2 +px) {
      display: flex;
      flex-direction: column-reverse;
   }


}

.vaza {
   padding: 0px 0px 35px 0px;

   @media (max-width: $md2 +px) {
      padding: 0px 0px 0px 0px;
   }
}