.contact {
   padding: 0px 0px 334px 0px;

   @media (max-width: ($md2 +px)) {
      padding: 0px 0px 50px 0px;
   }
}

.contact__container {
   padding: 0px 71px 0px 92px;
   display: flex;

   @media (max-width: ($md2 +px)) {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      flex-direction: column;
   }
}

.contact__info {
   flex: 0 1 27%;
   margin-right: 65px;

   @media (max-width: ($md2 +px)) {
      margin: 0px 0px 0px 0px;
   }
}

._info_contact__title {
   width: 100%;
   padding: 0px 0px 10px 0px;

   @media (max-width: ($md2 +px)) {
      text-align: center;
      padding: 30px 0px 10px 0px;
   }
}

._info_contact__descr {
   padding: 0px 0px 160px 0px;
   display: block;
   width: 92%;
   @include adaptive-font (25, 16);
   font-weight: 500;
   line-height: calc(38 / 25);
   position: relative;

   @media (max-width: ($md2 +px)) {
      padding: 0px 0px 40px 0px;
      text-align: center;
      width: 100%;
   }

   &::before,
   &::after {
      margin: 0px 0px 15px 0px;
      content: "";
      position: absolute;
      width: 136px;
      height: 5px;
      background-color: #58A9A5;
      left: 0;

      @media (max-width: ($md2 +px)) {
         display: none;
      }
   }

   &::before {
      top: 112px;
   }

   &::after {
      top: 127px;
   }
}

.contact__form {
   @include column-center;
   flex: 0 1 69%;

   @media (max-width:( $md2+ px)){
      flex: 0 1 100%;
   }
}

form {
   @include column-center;
   height: 450px;
   position: relative;
   border: 1px solid #486958;

   @media (max-width: ($md2 +px)) {
      margin: 0px 20px;
   }
}

input {
   padding: 57px 0px 25px 0px;
   margin: 0px 54px;
   @include adaptive-font (25, 16);
   font-weight: 500;
   line-height: calc(38 / 25);
   color: #486958;
   border-bottom: 1px solid #000000;
}

.descript {
   display: block;
   padding: 36px 0px 36px 0px;
   border: none;
   text-align: left;
}

.button_form {
   padding: 21px 73px;
   position: absolute;
   right: 53px;
   bottom: 33px;
}
