$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1775;
$md1: $maxWidthContainer+12;
$md2: 1200.98;
$md3: 767.98;
$md4: 479.98;

$mainColor:#404242;
$blackColor:#000;
$whiteColor: #fff;
$buttonColor: #58A9A5;


$pcSize: 16px;
$mobSize: 16px;